/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */
 
html {
    background-color: #202322;
    color: #e2e3ed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;

}
 
body {
    font-size: 1em;
}
 
ul,
ol {
    list-style: none;
}
 
a {
    color: #e2e3ed;
    font-size: .875em;
    font-weight: 700;
    text-decoration: none;
}
 
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: 500;
}
 
h3, 
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 1.125em;
}
 
p {
    font-size: .875em;
    font-weight: 400;
    line-height: 24px;
}
 
img {
    width: 100%;
}
 
figure {
    margin: 0;
}
 
address {
    font-size: .875em;
    font-weight: 500;
    line-height: 24px;
}
 

   /* ---------------- Base Header - Footer Styles -------------------------- */
header,
footer,
main {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
    margin: 0;
}

   /* Header styles */
header {
    background-color: #202322;
}

header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header .logo {
    display: flex;
    padding: 45px 0 45px 0;
}

header figure {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60%;
}

header nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    padding: 20px 0;
}



header nav ul {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0;
}

/* --------------------------- Mobile Styles - Homepage ------------------ */



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    Hero Area Styles
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.hero-area {
    align-items: flex-start; 
    background: url('../img/hero-image.jpg') no-repeat center #333;
    background-size: cover;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    height: 500px;
    justify-content: center;

}

.hero-area h1 {
    font-size: 2.25em;
    font-weight: 500;
    padding-top: 50px;
    margin: 0 5%;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    Sign up Area Styles
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
aside {
    align-items: center;
    background-color: #527158;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

aside .content-wrapper {
    align-items: center;
    display: flex;
    flex-basis: 90%;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px 0 50px 0;
}

aside .column-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}


aside h3 {
    width: 100%;
}

aside form {
    width: 100%;
}

aside input,
aside button {
    width: 100%;
    height: 50px;
}

aside input {
    margin-bottom: 20px;
}

aside input::placeholder {
    font-style: italic;
    padding-left: 15px;
}

aside button {
    background-color: #2a423a;
    border: none;
    color: #e2e3ed;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}


/*#########################################################################
    Features Styles
#########################################################################*/
.features {
    align-items: center;
    background: url('../img/features-image.jpg') no-repeat center #333;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.features .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
    width: 90%;
}

.features h2 {
    margin: 50px 0;
    width: 100%;
}

.features .features-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 350px;
    padding-top: 60px;
    width: 56%;
}

.features .features-items:last-of-type {
    padding-bottom: 65px;
}

.features i {
	font-size: 3.75em;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    Reviews Styles
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.reviews  {
    align-items: center;
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.reviews h2 {
    padding: 50px 0 30px 0;
}

.reviews .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
    width: 90%;
}

.reviews article {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.reviews figure {
    width: 100%;
}

.reviews h4 {
    padding: 20px 0;
}


/* ABOUT PAGE ======================================================================
        Mission Styles
==================================================================================*/
.mission,
.contact-section {
    width: 100%;
}

.mission .content-wrapper,
.contact-section .content-wrapper {
    width: 90%;
}

.mission {
    background-color: #527158;
}
.mission,
.mission .mission-content,
.mission .mission-content p {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.map figure {
    height: 0;
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    width: 100%;
}

.map iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.contact-section {
    align-items: center;
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    height: 340px;
    justify-content: center;  
}

.contact-section h2 {
    margin: 0;
    padding: 0 0 10px 0;
    width: 100%;
}

.contact-items {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
}

.contact-section h4 {
    width: 100%;
    margin: 0;
    padding: 7px 0;

}

.mission .content-wrapper,
.contact-section .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 50px 0;
}

/* FAQ PAGE =======================================================================
        faq Styles
==================================================================================*/

.faq-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.faq-section .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.faq-section h2 {
    padding: 50px 0;
    width: 100%;
}

.faq-section h3 {
    padding-bottom: 15px;
}

.faq-section .faq-items {
    padding-bottom: 50px;
}

/*=========================================================================
    Footer Styles
=============================================================================*/
footer {
    background-color: #202322;
}
footer .content-wrapper {
    align-items: center;
    display: flex;
    flex-basis: 90%;
    flex-flow: row wrap;
    justify-content: center;
}

footer article {
    width: 60%;
}

footer h3:first-of-type {
    padding-top: 50px;
}

footer h3 {
    width: 100%;
    text-align: center;
}

footer address {
    text-align: center;
}

footer .social {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.social-icons p {
    margin: 20px;
    background-color: #527158;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}


.social-icons i {
    font-size: 1.125em;
    padding-top: 10px;
}

#copyright {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    Larger screens styles
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width: 768px) {
/* Tablet styles here */
    a {
        font-size: 1em;
    }
    h2 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 1.5em;
    }
   header,
   footer,
   main {
       width: 100%;
   }

   header figure {
       width: 30%;
   }

    header .content-wrapper,
   .hero-area h1,
   aside .content-wrapper,
   .features .content-wrapper,
   .reviews .content-wrapper {
        max-width: 1000px;
        width: 80%;
   }
   
   header .content-wrapper {
       justify-content: flex-start;
        width: 80%;
   }

   header .header-divider {
       flex-grow: 1;
   }

   header nav {
       flex-basis: 130px;
   }

   header ul li {
        width: 50px;
   }

   /*--------
    Hero
   ----------*/
   .hero-area {
        height: 600px;
    }
   .hero-area h1 {
       font-size: 3em;
       padding: 65px;
   }

   /* --------
    Aside
   ----------*/
   aside {
       height: auto;
    }

   aside h3 {
       margin: 0 0 15px 0;
   }

   aside .content-wrapper {
        align-items: flex-start;
        justify-content: space-around;
   }

   aside .column-wrapper {
       height: auto;
       max-width: 350px;
        width: 40%;
   }


   aside input[type=text] {
       color: #2a423a;
   }

   

   aside input,
   aside button {
       height: 50px;
   }

      /* --------
    Features
   ----------*/
   .features .content-wrapper {
       max-width: 1000px;
       width: 80%;
   }
   
  
   .features .features-items {
       flex-basis: 200px;
       height: 150px;
       padding: 10px;
       margin: 0 20px;
    }
   }

   .features .features-items:last-of-type {
       padding-bottom: 0;
   }

   /* --------
    Reviews
   ----------*/
  
   .reviews .review-wrapper {
    
        margin: 0;
       padding: 0;
       width: 46%;
   }

   .reviews figure {  
    margin-right: 2%;
    width: 46%;
   }

   .reviews h4 {
       margin: 0;
       padding: 0;
       
   }

   /* ======
   ABOUT
   ========*/
   .mission .mission-content {
        justify-content: space-between;
        flex-basis: 100%;
   }

   .mission .mission-content p {
        width: 46%;
   }

   .mission .mission-content p:first-of-type {
       padding-right: 5%;
   }

   .mission .content-wrapper,
   .contact-section .content-wrapper {
    max-width: 1000px;
    width: 80%;
   }

   .map,
   .map figure,
   .map iframe {
       height: 350px;
   }

    .contact-section {
        height: 410px;
    }
   .contact-section .contact-items {
        flex-basis: 40%;
        flex-grow: 1;
        height: 85px;
   }

   .contact-section .content-wrapper {
       justify-content: space-between;
    
   }

   .contact-section .contact-items:first-of-type {
       margin-right: 13%;
   }

   /* ========
    FAQs
   ==========*/


   .faq-section {
       background-color: #527158;
       flex-basis: 100%;
   }

   .faq-section .content-wrapper {
        justify-content: space-between;
        max-width: 1000px;
        width: 80%;
   }

   
   section .faq-items {
       width: 45%;
   }

   /* --------
    FOOTER
   ----------*/
   footer {
       align-items: flex-start;
       height: 350px;
       justify-content: space-around;
   }

   footer .content-wrapper {
       justify-content: space-around;
       max-width: 1000px;
       width: 80%;
   }

   footer article {
       flex-basis: 40%;
       height: 200px;
 
   }

   

}


@media only screen and (min-width: 1200px) {
/* desktop styles here */
    
    .hero-area h1 {
        font-size: 3.75em;
    }

    h3 {
        font-size: 1.875em;
    }

    header figure {
        width: 25%;
    } 

    
    
    .reviews figure {
        margin-right: 3%;
        width: 38%;
    }

    .map,
    .map figure,
    .map iframe {
        height: 450px;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


